#contact-container {
    padding: 2.5rem;

    .input,
    .textarea {
        border-bottom: 2px solid white;
        outline: none;
    }

    .input:focus,
    .textarea:focus {
        border: none;
        background-color: #d1ecf5;
    }
}
