#contact-container {
    padding: 2.5rem;
    background-color: white;

    .input,
    .textarea{
        background-color: white;
        border-bottom: 3px solid #add8e6;
        outline: none;
    }

    .input:focus,
    .textarea:focus {
        border: none;
        background-color: #d1ecf5;
    }


    p{
        color: #7d7d7d;
    }
}
