.navbar-brand {
    .image {
        padding: 0.5rem;
        height:65px;
        width: 65px;
    }
}
.navbar-item {
    border-bottom: 2px solid transparent;
    transition: all 500ms;
    &:hover,
    &.is-active {
        border-bottom: 2px solid $orange;
    }
}
.navbar-transparent {
    .navbar-item {
        &:hover {
            background: transparent;
        }
    }
}

@media screen and (max-width: 1024px){
    .navbar-brand {
        .image {
            height:48px;
            width: 48px;
        }
    }

}
