.hero {
    background-image: url('./assets/hero-image.jpg');
    background-size: cover;
    max-height: 100vh;

    &::after {
        background-color: $green;
        content: '';
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.7;
        z-index: 1;
    }
}

.hero-body {
    position: relative;
    z-index: 9;
}
#hero-subtitle {
    font-family: $family-secondary;
    margin-bottom: 2em;
    font-size: 2.3em;
}
#hero-title {
    margin-bottom: 1em;
    font-size: 70px;
}

#hero-buttons {
    display: block;

    a {
        text-transform: uppercase;
        font-size: 1rem;
        padding: 1.5rem;
        border-radius: 50px;
        min-width: 200px;
        margin: 20px 20px 0 20px;
    }

    #tell-me-more-button {
        background-color: transparent;
        border: 1px solid white;
    }
    #tell-me-more-button:hover {
        background-color: transparent;
        border: 1px solid $orange;
        transition-timing-function: linear;
        transition-duration: 0.08s;
        color: $orange;
    }
    #contact-us-button {
        border: 1px solid $orange;
    }

    #contact-us-button:hover {
        background-color: transparent;
        border: 1px solid $orange;
        transition-timing-function: linear;
        transition-duration: 0.08s;
        color: $orange;
    }
}

@media only screen and (max-width: 1050px) {
    .hero {
        .subtitle {
            font-size: 1.3em;
        }
        #hero-subtitle {
            margin-bottom: 0px;
            font-size: 1.3em;
        }
        #hero-title {
            font-size: 2.2em;
        }
        #hero-button {
            margin-top: 10vh;
        }
    }
}
