#process-steps {
    align-items: center;
    padding-left: 1em;
    padding-right: 1em;
}



.process-step{
    text-align: center;
    color: $green;
}
.step-title{
    border-bottom: 2px solid $green;
    margin: 10px 20px 5px 20px;
    padding: 5px;

}

.process-arrow{
    font-size: 4em;
    text-align: center;
    color: #c1c1c1;

    svg{
        vertical-align: middle;
        margin-top: -12px;
    }
}

.process-icon{
    font-size: 8em;
    border: 1px dashed black;
    border-radius: 100%;
    padding: 13%;
    color: $green;
}

.orange-number{
    position: relative;
    display: inline-block;
    border-radius: 50%;
    top: 35px;
    left: 40px;
    width: 40px;
    height: 40px;
    padding: 8px;
    background: #f39200;
    color: white;
    text-align: center;
    font: 22px Arial, sans-serif;
    font-weight: bold;
}

@media screen and (max-width: 720px) {
    .process-arrow{
        transform: rotate(90deg);
    }
}
