#price-info {
    .price-info-container {
        border: 1px solid $beige-light;
        padding: 3rem;

        header {
            background-color: $primary;
            padding: 1rem;
        }
    }
}
