#price-info {
    background-color: #efefef; //Gör om till variabel

    .price-info-container {
        background: white;
        box-shadow: 0 0 20px rgba(102, 102, 102, 0.2);
        margin: 3rem 0;
        margin-right: 2rem;

        @media only screen and (max-width: 450px) {
            margin-right: 0;
        }
        &:last-child {
            margin-right: 0;
        }
        padding: 2rem;

        header {
            margin-bottom: 1rem;
        }

        .body {
            div {
                display: flex;
                margin-top: 0.5rem;
                .icon {
                    color: $green;
                }
                span:nth-child(2) {
                    margin-left: 1rem;
                }
            }
        }

        .price-tag {
            margin-top: 1rem;
            font-size: 1.25rem;
            color: $green;
        }
    }
}
