#services {
    background-color: #efefef;
    .service-cards {
        margin-top: 5rem;
        .service-card {
            text-align: center;
            .icon {
                height: 4rem;
                width: 4rem;
                font-size: 4rem;
                text-align: center;
                color: $orange;
            }
        }
        .is-paddingless {
            margin-left: 0.5rem;
        }
    }
}
