#subhero {
    background: linear-gradient(
        150deg,
        rgba(3, 48, 45, 1) 11%,
        rgba(4, 61, 56, 1) 37%,
        rgba(70, 65, 25, 0.9968137767802433) 68%,
        rgba(4, 61, 56, 1) 79%,
        rgba(6, 48, 45, 1) 90%
    );
    position: relative;
}

#subhero-block-1 {
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    border-bottom: 5vw solid #ffffff;
    border-left: 100vw solid transparent;
    z-index: 10;
}
#subhero-block-2 {
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    border-top: 5vw solid #efefef;
    border-left: 100vw solid transparent;
    z-index: 10;
}

@media screen and (max-width: 720px) {
    #subhero-block-1,
    #subhero-block-2 {
        display: none;
    }
}
