#why-us {
    position: relative;

    .top-3-wrapper {
        .top-3-item {
            margin-bottom: 2rem;
            display: flex;
            align-items: center;

            & div:first-child {
                margin-right: 2rem;
            }

            .title {
                margin-bottom: 0.5rem;
            }

            .icon {
                background: $orange;
                border-radius: 99999px;
                color: $white;
                $size: 4rem;
                width: $size;
                height: $size;
                font-size: 2rem;
            }
        }
    }
}

@media screen and (max-width: 720px) {
    .why-section {
        background: white;
        padding: 1.5rem;
    }

    #rotated-background-triangle1 {
        display: none;
    }

    #why-text {
        margin-right: 0;
    }
    #why-text-container {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}
