.why-section {
    background: #efefef; /* Old browsers */
    background: white;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
@media screen and (min-width: 1024px) {
    .section.why-section {
        padding: 10vw 1.5rem 2rem 1.5rem;
        position: relative;
        z-index: 5;
    }
}

/// Move out, this should be one component
#rotated-background-triangle1 {
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    z-index: 7;
    border-top: 5vw solid #efefef;
    border-left: 100vw solid transparent;
}

#why-text-container {
    margin-left: 3rem;
    margin-right: 3rem;
    max-width: 100%;

    .columns .is-two-third {
        display: flex;
        align-items: center;
        margin-bottom: 5rem;
    }
}

#why-us {
    .top-3-wrapper {
        .top-3-item {
            background: #efefef;
            margin-bottom: 2rem;
        }
    }
}

@media screen and (max-width: 720px) {
    .why-section {
        background: white;
        padding: 1.5rem;
    }

    #rotated-background-triangle1 {
        display: none;
    }

    #why-text {
        margin-right: 0;
    }
    #why-text-container {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}
