@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Merriweather|Montserrat&display=swap');

// Set your brand colors
$purple: #8a4d76;
$pink: #fa7c91;
$brown: #757763;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;
$green: #043a35;
$green-light: #0a6a61;
$orange: #f39200;
$orange-light: #ffa319c9;
$blue-light: #d3f4fd;

// Update Bulma's global variables
$family-sans-serif: 'Merriweather', sans-serif;
$family-secondary: 'Montserrat', sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $green;
$link: $orange;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: white;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
$footer-padding: 12rem;

// Buttons
$control-radius: 1000000px;
$button-padding-horizontal: 1.5rem;

.button {
    font-size: 1rem;
}

// Import only what you need from Bulma
@import '../node_modules/bulma/sass/utilities/_all.sass';
@import '../node_modules/bulma/sass/base/_all.sass';
@import '../node_modules/bulma/sass/elements/_all.sass';
@import '../node_modules/bulma/sass/components/navbar.sass';
@import '../node_modules/bulma/sass/layout/hero.sass';
@import '../node_modules/bulma/sass/layout/section.sass';
@import '../node_modules/bulma/sass/grid/columns.sass';
@import '../node_modules/bulma/sass/form/_all.sass';
@import '../node_modules/bulma/sass/elements/_all.sass';

//importing other style files
@import './style/hero';
@import './style/services';
@import './style/contact';
@import './style/aboutus';
@import './style/header';
@import './style/why'

// Setting font
.title,
.button,
.navbar-item {
    font-family: $family-secondary;
}

.navbar-item {
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 2px;
}
// Setting colors for titles
.has-blue-sidebar {
    border-left: 3px solid lightblue;
    padding-left: 10px;
}
.title.is-2 {
    color: $green;
}
.title.is-3 {
    color: $green-light;
}

.large-spacing {
    letter-spacing: 4px;
    line-height: 1.7em;
}
.is-white {
    color: white;
}
.has-orange-light {
    color: $orange-light;
}

.card-shadow {
    background-color: white;
    box-shadow: 0px 20px 20px #cfcfcf;
    border-bottom: 4px solid #add8e6;
    margin: 10px;
    margin-bottom: 25px;
    padding: 2rem;
    position: relative;
}

.why-section {
    background-color: white;
}

.input {
    background-color: #dddcdc;
}

.textarea {
    background-color: #dddcdc;
}

.navbar {
    position: absolute;
    background-color: transparent;
}
.navbar-menu {
    position: relative;
}
.navbar-end {
    position: relative;
}

.navbar-transparent {
    background-color: transparent;
    color: white;
    @media only screen and (max-width: 450px) {
        background-color: $primary;
    }
}
.navbar-transparent a,
.navbar-transparent h1 {
    color: white;
}

.is-header-text {
    color: white;
    letter-spacing: 5px;
}
.has-white-background {
    background-color: white;
}
.has-img-background {
    background-image: url('./assets/hero-image.jpg');
    background-size: cover;
}

.no-margin-bot {
    margin-bottom: 0 !important;
}

p {
    margin-bottom: 1em;
}

@media only screen and (max-width: 768px) {
    .card-shadow {
        padding: 1rem;
        box-shadow: 0px 12px 15px #ebecef;
    }
    p {
        font-size: 0.9em;
    }

    .title.is-1 {
        font-size: 2.3em;
    }
    .title.is-2 {
        font-size: 1.9em;
    }
    .title.is-3 {
        font-size: 1.6em;
    }

    #contact {
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media only screen and (max-width: 450px) {
    #profile-image {
        width: 220px;
        height: 220px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
    }
    #profile-image img {
        width: 220px;
        height: 220px;
        margin-top: 3rem;
        margin-bottom: -1rem;
    }
}
