#references {
    padding-top: 5rem;
}
.reference {
    border-radius: $border-radius;
    border: 1rem solid white;
    background-color: white;
    box-shadow: 0 0 20px rgba(102, 102, 102, 0.2);

    h4 {
        font-weight: 900;
        color: black;
        margin-top: 1em;
    }

    ul {
        list-style: disc;
        margin-left: 2em;
        li {
            margin-top: 5px;
            margin-bottom: 5px;
        }
    }

    .image-container {
        height: 100%;
        background-position: center top;
        background-size: cover;
        border-radius: $border-radius;
        border: 1px solid $grey-light;

        @media screen and (max-width: $tablet) {
            padding-bottom: 75%;
        }
    }

    .column {
        padding: 1rem 1rem 0.75rem;
    }

    .body {
        .client-box {
            background-color: $grey-light-light;
            padding: 1em;
            margin-top: 1em;
            margin-bottom: 1em;
        }
        .client-quote {
            font-style: italic;
            margin-bottom: 0;
            color: black;
        }
        .client-name-and-role {
            font-weight: bold;
            text-align: right;
            margin-bottom: 0;
            color: $green;
        }
    }
}
