.reference {
    border-radius: $border-radius;
    border: 1rem solid white;
    background-color: white;
    box-shadow: 0 0 20px rgba(102, 102, 102, 0.2);

    .image-container {
        height: 100%;
        background-position: center top;
        background-size: cover;
        border-radius: $border-radius;
        border: 1px solid $grey-light;

        @media screen and (max-width: $tablet) {
            padding-bottom: 75%;
        }
    }

    .column {
        padding: 1rem 1rem 0.75rem;
    }

    .body {
        .client-quote {
            font-style: italic;
        }
        .client-name-and-role {
            font-weight: bold;
            margin-top: -1rem;
            text-align: right;
        }

        .nice-stats {
            background: $beige-lighter;
            border-radius: $border-radius;
            margin-top: 1rem;
            padding: 1rem;

            div > div {
                border-right: 1px solid $grey-light;
                padding: 0 1rem;
                margin-bottom: 1rem;

                &:last-child {
                    border-right: 0;
                }
            }
        }
    }
}
